@import "tailwindcss";
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/syne/500.css";
@import "@fontsource/syne/600.css";
@import "@fontsource/syne/700.css";

@theme{
    --font-body: "inter", sans-serif;
    --font-heading: "syne", sans-serif;
   

}